extends layout

block header

block stylesheets

block content
    section.main#main
        div.container(style="background:url('../images/blurry.png') no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;background-size:cover")
            div.wrapper
                div.title
                    h2 oops!
                hr.line
                div.subtitle
                    h4 the page you are looking for does not exist
                div.button-wrapper
                    a(href="/")
                        button go back
                pre error.stack

block scripts
