extends layout

block content
    section.main#main
        div.container
            div.wrapper
                div.title
                    h1 hitch
                div.description
                    h3 Making ridesharing easier than ever.
                a(href='login')
                    button.btn.login
                        h4 Login
                a(href='http://google.com')
                    button.btn.login
                        h4 Sign Up

