extends layout

block header
    script(src='/javascripts/style.js')

block content
    nav.navbar#navbar
        div.navbar-fixed-top(
                data-top="@id:clear"
                data-0p="@id:black"
                data-anchor-target="#navbar")
            div.container-fluid
                div.navbar-header
                    a.navbar-brand.page-scroll(href="/") hitch
                    button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#basic_nav")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                div.collapse.navbar-collapse#basic_nav
                    ul.nav.navbar-nav.navbar-right
                        li: a(href="login") LOGIN
                        li: a(href="signup") SIGN UP

    section.main#main
        div.container
            div.wrapper
                div.title
                    h1 hitch
                div.subtitle
                    //- FIX THIS
                    h3 hitch a ride to
                    span.typed
                div.button
                    a(href="http://google.com")
                        button HITCH ME A RIDE

    section.about#about
        div.container
            div.wrapper
                h1 Making ridesharing easier than ever.

    section.test
        div.container
            div.wrapper
                h1 Hello this is Montgomery
