extends layout

block content
    nav.navbar.navbar-default
        div.container-fluid
            div.navbar-header
                button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#basic_nav")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="#") hitch
            div.collapse.navbar-collapse(id="basic_nav")
                ul.nav.navbar-nav
                    li
                        a(href="login") Login
                            span.sr-only (current)
                    li
                        a(href="signup") Sign Up
                            span.sr-only (current)

    section.main#main
        div.container
            div.wrapper
                div.title
                    h1 hitch
                div.description
                    h3 Making ridesharing easier than ever.
                div.button
                    a(href='signup')
                        button SIGN UP
