extends layout

block stylesheets
    link(rel="stylesheet", href="/stylesheets/login.css")

block content
    section.login#login
        div.container
            div.wrapper
                div.title
                    h3 Login
                div.login-form
                    form.form-horizontal
                        div.form-group
                            label.col-sm-2.control-label(for='email') Email:    
                            div.col-sm-10
                                input#email.form-control(type='email', placeholder='Enter email')
                        div.form-group
                            label.col-sm-2.control-label(for='pwd') Password:
                            div.col-sm-10
                                input#pwd.form-control(type='password', placeholder='Enter password')
                        div.form-group
                            div.col-sm-10.col-sm-offset-2
                                div.checkbox
                                    label
                                        input(type="checkbox")
                                        p Remember me
                        div.form-group
                            div.col-sm-10.col-sm-offset-2
                                button.btn.btn-default(type='submit') Login