extends layout

block header

block stylesheets
    link(rel="stylesheet", href="/stylesheets/signup.css")

block content
    nav.navbar#navbar
        div.navbar-fixed-top(
                data-start="@id:clear"
                data-0p="@id:collapsed"
                data-anchor-target="#navbar")
            div.container-fluid
                div.navbar-header
                    a.navbar-brand.page-scroll(href="/#main") hitch
                    button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#basic_nav")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                div.collapse.navbar-collapse#basic_nav
                    ul.nav.navbar-nav.navbar-right
                        li: a(href="login") LOGIN
                        li: a(href="/#signup") SIGN UP

    section.signup#login
        div.container
            div.wrapper
                div.title
                    h3 Login
                    hr.line
                div.signup-wall
                    form.basic-form(method='POST')
                        div.form-group
                            input#username.form-control(type='text', name='username', placeholder='Username', required, autofocus)
                            input#password.form-control(type='password', name='password', placeholder='Password', required)
                        div.button-wrapper
                            button Login

                    if message && message.length > 0
                        p#alert.alert.alert-danger(role='alert') #{message}
                        //- div.form-group
                        //-     div.col-sm-10.col-sm-offset-2
                        //-         div.checkbox
                        //-             label
                        //-                 input(type="checkbox")
                        //-                 p Remember me

