extends layout

block header

block stylesheets
    link(rel="stylesheet", href="/stylesheets/login.css")

block content
    nav.navbar#navbar
        div.navbar-fixed-top#black
            div.container-fluid
                div.navbar-header
                    a.navbar-brand.page-scroll(href="/") hitch
                    button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#basic_nav")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                div.collapse.navbar-collapse#basic_nav
                    ul.nav.navbar-nav.navbar-right
                        li: a(href="/#signup") sign up

    section.login#login
        div.container
            div.wrapper
                div.title
                    h2 Login
                hr.line
                div.login-wall
                    form.basic-form(method='POST')
                        div.form-group
                            input#username.form-control(type='text', name='username', placeholder='username', autofocus)
                            input#password.form-control(type='password', name='password', placeholder='password')
                        div.button-wrapper
                            button(type="submit") login
                    if message && message.length
                        div.status#alert
                            div.alert-danger
                                p #{message}
                div.link
                    div.link-wrapper
                        a(href="/#signup")
                            p Create an account
        div.footer#footer
            div.footer-container
                h5
                    | wistful worldly wanderers 
                    img.icon(src="/images/3w.png")
                    |  2015

block scripts
    script(src="/javascripts/validation.js")
