extends layout

block header
    script(src='/javascripts/style.js')

block stylesheets
    link(rel="stylesheet", href="/stylesheets/request.css")

block content
    nav.navbar#navbar
        div.navbar-fixed-top(
                data-start="@id:clear"
                data-0p="@id:collapsed"
                data-anchor-target="#navbar")
            div.container-fluid
                div.navbar-header
                    a.navbar-brand.page-scroll(href="/") hitch
                    button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#basic_nav")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                div.collapse.navbar-collapse#basic_nav
                    ul.nav.navbar-nav.navbar-right
                        li: a(href="login") LOGIN
                        li: a(href="signup") SIGN UP

    section.request#request
        div.container
            div.wrapper
                div.title
                    h3 Hitch me a ride
                div.req-form
                    form.form-horizontal
                        div.form-group
                            label.col-sm-2.control-label(for='name') Name:
                            div.col-sm-10
                                input#name.form-control(type='text', placeholder='e.g. Jane Doe')
                        div.form-group
                            label.col-sm-2.control-label(for='pickup') Pickup from:
                            div.col-sm-10
                                input#pickup.form-control(type='text', placeholder='e.g. 305 Memorial Drive Cambridge, MA 02139')
                        div.form-group
                            label.col-sm-2.control-label(for='dropoff') Dropoff at:
                            div.col-sm-10
                                input#dropoff.form-control(type='text', placeholder= 'e.g. Boston Logan Airport')
                        div.form-group
                            div.col-sm-10.col-sm-offset-2
                                button.btn.btn-default(type='submit') Submit