extends layout

block header

block stylesheets
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/request.css")

block content
    //- NAV BAR SHOULD INCLUDE LOGO AND LOGOUT BUTTONS
    nav.navbar#navbar
        div.navbar-fixed-top(
                data-start="@id:clear"
                data-0p="@id:collapsed"
                data-anchor-target="#navbar")
            div.container-fluid
                div.navbar-header
                    a.navbar-brand.page-scroll(href="/#main") hitch
                    button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#basic_nav")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                div.collapse.navbar-collapse#basic_nav
                    ul.nav.navbar-nav.navbar-right
                        li: a(href="/logout") LOGOUT

    section.request#request
        div.container
            div.wrapper
                div.title
                    h6 hitch me a ride
                    hr.line
                 div.signup-wall
                    form.basic-form(method='POST')
                        div.form-group
                            input#pickup.form-control(type='text', name='pickup', placeholder='Pickup')
                            input#dropoff.form-control(type='text', name='dropoff', placeholder='Dropoff')
                            input#time.form-control(type='datetime-local', name='time', placeholder='Pickup Time: mm/dd/yyyy hh:mm')
                            div.button-wrapper
                                button request

                    if message && message.length > 0
                        p#alert.alert.alert-success(role='alert') #{message}

    script(src='/javascripts/dateValidation.js')
