extends layout

block header
    script(src="https://maps.googleapis.com/maps/api/js?libraries=places")
    script(src="/javascripts/geo.js")

block stylesheets
    link(rel="stylesheet", href="/stylesheets/datepicker/default.css")
    link(rel="stylesheet", href="/stylesheets/datepicker/default.date.css")
    link(rel="stylesheet", href="/stylesheets/datepicker/default.time.css")
    link(rel="stylesheet", href="/stylesheets/request.css")

block content
    //- nav.navbar#navbar
    //-     div.navbar-fixed-top(
    //-             data-start="@id:clear"
    //-             data-0p="@id:collapsed"
    //-             data-anchor-target="#navbar")
    //-         div.container-fluid
    //-             div.navbar-header
    //-                 a.navbar-brand.page-scroll(href="/") hitch
    //-                 button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#basic_nav")
    //-                     span.icon-bar
    //-                     span.icon-bar
    //-                     span.icon-bar
    //-             div.collapse.navbar-collapse#basic_nav
    //-                 ul.nav.navbar-nav.navbar-right
    //-                     li: a(href="/login") login
    //-                     li: a(href="/#signup") sign up

    section.request#request
        div.container
            div.wrapper
                div.title
                    h3 Hitch me a ride
                hr.line
                div.signup-wall
                    form.basic-form(method='POST')
                        input#pickup.form-control(type="text", name="pickup", placeholder="Pickup", onfocus="initialize()", autofocus)
                        input#dropoff.form-control(type="text", name="dropoff", placeholder="Dropoff")
                        div.row
                            div.col-sm-6
                                input#date.form-control(type="text", name="date", placeholder="mm/dd/yy")
                            div.col-sm-6
                                input#time.form-control(type="text", name="time", placeholder="hh:mm")
                        div.button-wrapper
                            button(type="submit") request

                    if message.length
                        p#alert.alert.alert-success(role="alert") #{message}

    div.logout
        a(href="/logout")
            button logout

    section.footer#footer
        div.container
            h5
                | wistful worldly wanderers 
                img.icon(src="/images/3w.png")
                |  2015
    
    script(src="/javascripts/datepicker/picker.js")
    script(src="/javascripts/datepicker/picker.date.js")
    script(src="/javascripts/datepicker/picker.time.js")
    script(src="/javascripts/request.js")

//- block scripts
