extends layout

block header

block stylesheets

block content
    nav.navbar#navbar
        //- FIX RESPONSIVENESS
        div.navbar-fixed-clear(
                data-top="@class:navbar-fixed-top-clear"
                data--0p-top="@class:navbar-fixed-top"
                data-anchor-target="#navbar")
            div.container-fluid
                div.navbar-header
                    a.navbar-brand.page-scroll(href="/#main") hitch
                    button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#basic_nav")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                div.collapse.navbar-collapse#basic_nav
                    ul.nav.navbar-nav.navbar-right
                        li: a(href="/logout") LOGOUT

    section.results#results
        div.container
            div.wrapper
                div.title
                    h3 Your hitchers!
                    hr.line
                div.result-wall

                if message && message.length > 0
                    p#alert.alert.alert-success(role='alert') #{message}