extends layout

block header
    script(src='/javascripts/style.js')

block stylesheets
    link(rel="stylesheet", href="/stylesheets/register.css")

block content
    nav.navbar#navbar
        div.navbar-fixed-top(
                data-start="@id:clear"
                data-0p="@id:collapsed"
                data-anchor-target="#navbar")
            div.container-fluid
                div.navbar-header
                    a.navbar-brand.page-scroll(href="/") hitch
                    button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#basic_nav")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                div.collapse.navbar-collapse#basic_nav
                    ul.nav.navbar-nav.navbar-right
                        li: a(href="login") LOGIN
                        li: a(href="signup") SIGN UP
    
    if message
        div.alert.alert-danger-message(role="alert") #{message}

    section.signup#signup
        div.container
            div.wrapper
                div.title
                    h3 Sign Up
                div.signup-wall
                    form.form-signin(method='POST')
                        input.form-control(type='text', name='fullname', placeholder='Name', required, autofocus)
                        input.form-control(type='email', name='username', placeholder='Email', required)
                        input.form-control(type='password', name='password', placeholder='Password', required)
                        input.form-control(type='password', placeholder='Retype password', required)
                        input.form-control(type='tel', name='phone', placeholder='Phone', required)
                        button(class='btn btn-lg btn-primary btn-block', type='submit') SignUp
                        //- div.form-group
                        //-     div.col-sm-10.col-sm-offset-2
                        //-         div.checkbox
                        //-             label
                        //-                 input(type="checkbox")
                        //-                 p Remember me
                        //- div.form-group
                        //-     div.col-sm-10.col-sm-offset-2
                        //-         button.btn.btn-default(type='submit') Submit

 