extends layout

block header
    script(src='/javascripts/style.js')

block stylesheets
    link(rel="stylesheet", href="/stylesheets/signup.css")

block content
    nav.navbar#navbar
        //- FIX RESPONSIVENESS
        div.navbar-fixed-clear(
                data-top="@class:navbar-fixed-top-clear"
                data--0p-top="@class:navbar-fixed-top"
                data-anchor-target="#navbar")
            div.container-fluid
                div.navbar-header
                    a.navbar-brand.page-scroll(href="/") hitch
                    button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#basic_nav")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                div.collapse.navbar-collapse#basic_nav
                    ul.nav.navbar-nav.navbar-right
                        li: a(href="login") LOGIN
                        li: a(href="signup") SIGN UP
    
    section.signup#signup
        div.container
            div.wrapper
                div.title
                    h3 Sign Up
                div.signup-form
                    form.form-horizontal(method='post')
                        div.form-group
                            label.col-sm-2.control-label(for='firstname') First Name:
                            div.col-sm-10
                                input#firstname.form-control(type='text', placeholder='First Name', required, autofocus)
                        div.form-group
                            label.col-sm-2.control-label(for='lastname') Last Name:
                            div.col-sm-10
                                input#lastname.form-control(type='text', placeholder='Last Name', required)
                        div.form-group
                            label.col-sm-2.control-label(for='username') Email:    
                            div.col-sm-10
                                input#username.form-control(type='email', placeholder='example@example.com', required)
                        div.form-group
                            label.col-sm-2.control-label(for='phone') Phone:
                            div.col-sm-10
                                input#phone.form-control(type='tel', placeholder='xxx.xxx.xxxx', required)
                        div.form-group
                            label.col-sm-2.control-label(for='password') Password:
                            div.col-sm-10
                                input#password.form-control(type='password', placeholder='Password', required)
                        div.form-group
                            div.col-sm-10.col-sm-offset-2
                                button.btn.btn-default(type='submit') Submit

 