$darkgray: rgba(48,48,48,1);
$gray: rgba(96,96,96,1);
$testcolor: rgba(75,156,195,1);
$red: #FA5252;
$lightblue: rgba(79,160,196,1);
$darkblue: rgba(39,87,109,1);

$opensans: 'Open Sans', sans-serif;
