$blue: rgba(79,160,196,1);
$button: rgba(39,87,109,.7);
$filter: rgba(0,0,0,.7);
<<<<<<< HEAD
$redbackground: #e7c3c3;
$brightred: rgb(223,76,57);
$softred: rgb(226,91,74);
$lightred: rgb(224,75,57);
$red: rgba(221,60,40, 1);
$darkred: rgb(131,34,21);
// $red: rgba(166,59,55,1);
$greenbackground: #c8e5bc;
$green: rgb(45,136,53);
// $green: rgba(65,192,87,1);
=======
$red: rgba(221,60,40,1);
$green: rgba(61,184,73,1);
>>>>>>> 1e6716d595a22c16fa635152d37d4dc8cd4f9f00

$opensans: 'Open Sans', sans-serif;
