// COLORS
$lightblue: rgba(79,160,196,1);
$darkblue: rgba(39,87,109,.7);
$filter: rgba(0,0,0,.7);

// TYPOGRAPHY
$opensans: 'Open Sans', sans-serif;

h1 {
    font-family: $opensans;
    font-weight: 300;
    font-size: 7em;
    text-align: center;
    text-transform: lowercase;
}

h2 {
    font-family: $opensans;
    font-weight: 300;
    font-size: 5em;
    text-align: center;
    text-transform: lowercase;
}

h3 {
    font-family: $opensans;
    font-weight: 300;
    font-size: 3em;
    text-align: center;
    text-transform: lowercase;
}

h4 {
    font-family: $opensans;
    font-weight: 300;
    font-size: 2em;
    text-align: center;
    line-height: 1.5em;
    text-transform: lowercase;
}

h5 {
    font-family: $opensans;
    font-weight: 300;
    font-size: 1.25em;
    text-align: center;
    text-transform: lowercase;
}

::-webkit-input-placeholder {
   font-weight: 300;
   text-transform: uppercase;
}

:-moz-placeholder {
     font-weight: 300;
    text-transform: uppercase;
}

::-moz-placeholder {
    font-weight: 300;
   text-transform: uppercase;
}


// MISC

button {
    font-size: 30px;
    font-weight: 300;
    width: 100%;
    padding: 8px;
    color: white;
    text-transform: uppercase;
    background: transparent;
    border: solid white 2px;
    transition: all 500ms ease;
}

button:hover {
    color: white;
    background: $darkblue;
}

hr.sep {
    display: block;
    width: 30%;
    margin: 1em auto;
    border: 1px solid white;
    transition: all 500ms ease;
}
