@import '_constants';

section.request {
    height: 100vh;

    .container {
        height: 100%;
        width: 100%;
        padding: 25px;
        background: url("../images/street.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;

        .wrapper {
            height: 550px;
            width: 500px;
            position: relative;
            top: 15%;
            margin: auto;
            padding: 25px;
            background-color: $filter;

            .title {
                color: white;
                text-align: center;
            }

            .request-wall {
                padding: 25px;

                .error {
                    border-bottom: 1px solid $red;
                }
            }
        }
    }
}
