@import '_constants';

section.results {
    height: auto-50px;
    background: url("../images/bridge.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

    .container {
        height: 100%;
        width: 100%;

        .wrapper {
            height: auto;
            min-height: 550px;
            width: 550px;
            position: relative;
            margin: 15vh auto 10vh auto;
            padding: 25px;
            background-color: $filter;

            .title {
                color: white;
                margin-bottom: 20px;
            }

            p {
                text-align: center;
                color: white;
                margin-bottom: 0;
                font-size: 1.15em;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 50px 0 30px 0;

                li {
                    position: relative;
                    width: 500px;
                    height: 145px;

                    .result {
                        position: absolute;
                        padding: 20px 15px;
                        margin: 0 auto;
                        width: 100%;
                        height: 100%;

                        .col-sm-2 {
                            width: 65px;
                            padding-right: 5px;

                            p {
                                text-align: right;
                                text-transform: uppercase;
                                font-size: 1em;
                                padding-top: 7px;
                            }
                        }

                        .col-sm-10 {
                            width: 430px;
                            padding-left: 5px;

                            p {
                                font-size: 1.25em;
                                text-align: left;
                                padding: 3px;
                            }
                        }

                        h4 {
                            text-align: left;
                            margin-top: 0;
                            padding: 0 57px;
                            text-transform: none;
                        }
                    }

                    .contact {
                        position: absolute;
                        background: $blue;
                        padding: 15px;
                        margin: 0 auto;
                        width: 500px;
                        height: 145px;

                        h4 {
                            text-align: center;
                            margin-top: 0;
                            padding: 0;
                            text-transform: none;
                        }
                    }
                }
            }

            h4 {
                color: white;
                margin-top: 50px;
                margin-bottom: 0;
            }

            .status {
                width: 500px;
                top: 130px;

                p {
                    color: $blue;
                }
            }
        }
    }

    .footer {
        bottom: 0;
    }
}
