@import '_constants';

section.results {
    height: 100vh;

    .container {
        height: 100%;
        width: 100%;
        background: url("../images/bridge.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;

        .wrapper {
            height: auto;
            min-height: 550px;
            width: 550px;
            position: relative;
            top: 15%;
            margin: auto;
            padding: 25px;
            background-color: $filter;

            .title {
                color: white;
                margin-bottom: 30px;
            }

            p {
                text-align: center;
                color: white;
                margin-bottom: 0;
                font-size: 1.15em;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                .result {
                    padding: 10px 0;
                    margin: 0;
                }

                .result:hover {
                    background: $blue;
                }
            }

            .icon {
                height: 8px;
                margin: auto;
            }

            h4 {
                color: white;
            }
        }
    }
}
