@import '_constants';

section.results {
    height: 100vh;

    .container {
        height: 100%;
        width: 100%;
        background: url("../images/bridge.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;

        .wrapper {
            height: auto;
            min-height: 550px;
            width: 550px;
            position: relative;
            top: 15%;
            margin: auto;
            padding: 25px;
            background-color: $filter;

            .title {
                color: white;
                margin-bottom: 20px;
            }

            p {
                text-align: center;
                width: auto;
                color: white;
                margin-bottom: 0;
                font-size: 1.15em;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                margin-top: 50px;

                .result {
                    padding: 15px;
                    margin: 20px;

                    hr.sep {
                        display: block;
                        width: 30%;
                        margin: 0 auto 10px auto;
                        border: 1px solid white;
                    }

                    .icon {
                        height: 42px;
                        position: absolute;
                        margin-top: 2px;
                        left: 100px;

                    }

                    h4 {
                        margin-top: 0;
                        text-transform: none;
                    }
                }

                .result:hover {
                    background: $blue;
                }
            }

            .icon {
                height: 8px;
                margin: auto;
            }

            h4 {
                color: white;
                margin-top: 50px;
                margin-bottom: 0;
            }

            h5 {
                color: white;
            }

            .status {
                width: 500px;
                top: 145px;

                p {
                    color: $blue;
                }
            }
        }
    }
}
