@import '_constants';

section.signup {
    height: 100vh;

    .container {
        height: 100%;
        width: 100%;
        background: url("../images/newyorkstreet.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;

        .wrapper {
            height: 550px;
            width: 500px;
            position: relative;
            top: 10%;
            margin: auto;
            padding: 25px;
            background-color: $filter;

            .title {
                color: white;
                text-align: center;
                position: relative;
                top: 50px;
                margin-bottom: 30px;
            }

            .signup-wall {
                max-width: 400px;
                margin: auto;
                padding: 25px;
                position: relative;
                top: 40px;

                // :invalid {
                //   box-shadow: red;
                // }
                .form-group {
                    #valid-msg {
                        color: green;  
                    }

                    #error-msg {
                        color: red;
                    }

                    // why does it have to be here?
                    .button-wrapper {
                        width: 300px;
                        position: relative;
                        bottom: -20px;
                        margin: auto;
                        padding: 8px;
                    }
                }
        
            }

            p.alert {
                width: 100%;

                .alert-danger {

                }
            }

            .error {
                border: 1px solid #b94a48!important;
                background-color: #fee!important;
            }  

            .submitted :invalid {
              + .error {
                display: block;
              }
              border: 1px solid red;
            } 
        }
    }
}