@import '_constants';

html, body {
    height: auto;
    max-width: 100%;
    top: 0;
    left: 0;

    section {
        width: 100vw;
    }
}


// TYPOGRAPHY
h1 {
    font-family: $opensans;
    font-weight: 300;
    font-size: 7em;
    text-align: center;
    text-transform: lowercase;
}

h2 {
    @extend h1;
    font-size: 5em;
}

h3 {
    @extend h1;
    font-size: 3em;
}

h4 {
    @extend h1;
    font-size: 2em;
    line-height: 1.5em;
}

h5 {
    @extend h1;
    font-size: 1em;
    text-transform: uppercase;
}

::-webkit-input-placeholder {
   font-weight: 300;
   text-transform: uppercase;
}

:-moz-placeholder {
     font-weight: 300;
    text-transform: uppercase;
}

::-moz-placeholder {
    font-weight: 300;
   text-transform: uppercase;
}


// NAVBAR
nav.navbar {
    position: fixed;
    z-index: 9;

    .navbar-fixed-top {
        background: black;
        font-family: $opensans;

        a {
            font-weight: 300;
            font-size: 2.5em;
            color: white;
            text-shadow: none;
            transition: all 300ms ease;
            text-transform: lowercase;
        }
        
        a:hover {
            text-decoration: none;
            color: $lightblue;
            background: transparent;
        }

        .container-fluid {
            padding: 0 5px;

            .icon-bar {
                background-color: white;
            }

            .collapse.navbar-collapse {

                a {
                    font-size: 1.25em;
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {

    .navbar {
        
        #clear {
            background: transparent;
            padding: 15px 25px 15px 15px;
            -webkit-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;

            .container-fluid {
                max-width: 1500px;
            }
        }

        #collapsed {
            @extend #clear;
            background: black;
            padding: 0 25px 0 15px;
            -webkit-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
        }
    } 
}


// FORM
form.basic-form {

    .form-control {
        background: transparent;
        border: none;
        border-radius: 0;
        margin: 3px 0;
        border-bottom: 1px solid white;
        font-family: $opensans;
        color: white;
    }

    .form-control:focus {
        border-bottom: 1px solid $lightblue;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .button-wrapper {
        width: 300px;
        position: absolute;
        bottom: 65px;
        margin: 0 50px;

        button {
            font-size: 30px;
            font-weight: 300;
            width: 100%;
            padding: 8px;
            color: white;
            text-transform: uppercase;
            background: transparent;
            border: solid white 2px;
            transition: all 500ms ease;
        }

        button:hover {
            color: white;
            background: $darkblue;
        }
    }
}


// MISC
hr.line {
    display: block;
    width: 30%;
    margin: 1em auto;
    border: 1px solid white;
    transition: all 500ms ease;
}

p.alert {
    width: 100%;
}


// SECTIONS
section.main {
    height: 100vh;
    
    .container {
        height: 100%;
        width: 100%;
        padding: 0;
        background: url("../images/blurry.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;

        .wrapper {
            height: 450px;
            width: 450px;
            position: relative;
            top: 20%;
            margin: auto;
            padding: 25px;
            background-color: $filter;

            .title {
                color: white;
                margin-bottom: 20px;
            }

            .subtitle {
                color: white;

                h3 {
                    margin: 5px;
                }
            }

            .button-wrapper {
                width: 300px;
                position: absolute;
                bottom: 65px;
                margin: 0 50px;

                button {
                    font-size: 30px;
                    font-weight: 300;
                    width: 100%;
                    padding: 8px;
                    color: white;
                    text-transform: uppercase;
                    background: transparent;
                    border: solid white 2px;
                    transition: all 500ms ease;
                }

                button:hover {
                    color: white;
                    background: $darkblue;
                }
            }
        }
    }
}

section.about {
    height: 475px;
    background: white;

    .container {
        padding: 25px;

        .wrapper {
            width: 90%;
            margin: 10% auto;

            .title {
                color: black;
                margin: 25px;

                h3 {
                    font-weight: 400;
                    line-height: 1.25em;
                    text-transform: uppercase;
                }
            }

            hr.line {
                border: 1px solid $lightblue;
            }

            .subtitle {
                color: black;
                margin: 25px;
            }
        }
    }
}

section.signup {
    height: 100vh;

    .container {
        height: 100%;
        width: 100%;
        padding: 25px;
        background: url("../images/street.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;

        .wrapper {
            height: 550px;
            width: 500px;
            position: relative;
            top: 15%;
            margin: auto;
            padding: 25px;
            background-color: $filter;

            .title {
                color: white;
                margin-bottom: 30px;
            }

            .signup-wall {
                padding: 25px;

                .success {
                    border-bottom: 1px solid $green;
                }

                .error {
                    border-bottom: 1px solid $red;
                }
            }
        }
    }
}

section.footer {
    height: 60px;
    background: $filter;
    color: white;

    .container {
        padding-top: 5px;
        margin: 0 auto;

        h5 {
            margin: 0;
        }

        .icon {
            height: 50px;
        }
    }
}
