html, body {
  max-width: 100%;
  height: auto;
  top: 0;
  left: 0; }

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 7em; }

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 3em; }

.typed-cursor {
  opacity: 1;
  font-weight: 300;
  font-size: 3em;
  -webkit-animation: blink .75s infinite;
  -moz-animation: blink .75s infinite;
  animation: blink .75s infinite; }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
::selection {
  background: #4b9cc3; }

::-moz-selection {
  background: #4b9cc3; }

nav.navbar {
  position: fixed;
  z-index: 9; }
  nav.navbar .navbar-fixed-top {
    background: black; }
    nav.navbar .navbar-fixed-top a {
      font-weight: 300;
      font-size: 2.5em;
      color: white;
      transition: all 300ms ease; }
    nav.navbar .navbar-fixed-top .container-fluid {
      font-family: "Open Sans", sans-serif;
      max-width: 1500px; }
      nav.navbar .navbar-fixed-top .container-fluid .navbar-header button .icon-bar {
        background-color: white; }
      nav.navbar .navbar-fixed-top .container-fluid .collapse.navbar-collapse a {
        font-size: 1.25em; }

@media only screen and (min-width: 768px) {
  .navbar {
    position: fixed;
    z-index: 9; }
    .navbar #clear, .navbar #collapsed {
      padding: 15px 10px;
      background: transparent;
      -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out, height .5s ease-in-out;
      -moz-transition: background .5s ease-in-out, padding .5s ease-in-out, height .5s ease-in-out;
      transition: background .5s ease-in-out, padding .5s ease-in-out, height .5s ease-in-out;
      font-family: "Open Sans", sans-serif; }
      .navbar #clear a, .navbar #collapsed a {
        font-weight: 300;
        font-size: 2.5em;
        color: black;
        transition: all 300ms ease; }
      .navbar #clear a:hover, .navbar #collapsed a:hover {
        text-decoration: none;
        color: #4b9cc3; }
      .navbar #clear .container-fluid, .navbar #collapsed .container-fluid {
        max-width: 1500px; }
        .navbar #clear .container-fluid .collapse.navbar-collapse, .navbar #collapsed .container-fluid .collapse.navbar-collapse {
          padding-right: 10px; }
          .navbar #clear .container-fluid .collapse.navbar-collapse a, .navbar #collapsed .container-fluid .collapse.navbar-collapse a {
            font-size: 1.25em; }
    .navbar #collapsed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding: 0px 10px;
      background: black; }
      .navbar #collapsed a {
        color: white; } }
section.main {
  height: 100vh;
  width: 100vw;
  background: url("../images/blurred.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }
  section.main .container {
    position: relative;
    top: 15vh;
    width: 100vw; }
    section.main .container .wrapper .title {
      color: black;
      text-align: center; }
    section.main .container .wrapper .subtitle {
      color: black;
      text-align: center; }
    section.main .container .wrapper .button {
      width: 300px;
      margin: auto; }
      section.main .container .wrapper .button button {
        font-size: 30px;
        font-weight: 300;
        width: 300px;
        border-radius: 10px;
        padding: 8px;
        margin-top: 25vh;
        color: white;
        background: black;
        border: solid white 2px;
        opacity: .75;
        transition: all 500ms ease; }
      section.main .container .wrapper .button button:hover {
        background: white;
        color: black; }

section.about {
  height: 60vh;
  width: 100vw;
  background: white; }

section.test {
  height: 100vh;
  width: 100vw;
  background: url("../images/montgomery.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }

/*# sourceMappingURL=style.css.map */
