/*
Error: Invalid CSS after "...und-image: none": expected "{", was ";"
        on line 240 of public/stylesheets/sass/style.scss

235:         width: 400px;
236:         margin: auto;
237:         padding: 13px;
238:         background-color: transparent;
239: >>>>>>> 1e6716d595a22c16fa635152d37d4dc8cd4f9f00
240:         background-image: none;
241:         color: $red;
242:     }
243: 
244:     .alert-success {
245: <<<<<<< HEAD

Backtrace:
public/stylesheets/sass/style.scss:240
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:1165:in `expected'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:1096:in `tok!'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:641:in `block'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:661:in `block_child'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:642:in `block'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:661:in `block_child'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:642:in `block'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:661:in `block_child'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:642:in `block'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:661:in `block_child'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:642:in `block'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:635:in `ruleset'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:660:in `block_child'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/scss/parser.rb:42:in `parse'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `each'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/rosewang/.rbenv/versions/2.1.3/lib/ruby/gems/2.1.0/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...und-image: none\": expected \"{\", was \";\"\A         on line 240 of public/stylesheets/sass/style.scss\A \A 235:         width: 400px;\A 236:         margin: auto;\A 237:         padding: 13px;\A 238:         background-color: transparent;\A 239: >>>>>>> 1e6716d595a22c16fa635152d37d4dc8cd4f9f00\A 240:         background-image: none;\A 241:         color: $red;\A 242:     }\A 243: \A 244:     .alert-success {\A 245: <<<<<<< HEAD"; }
