@import '_constants';

html, body {
    max-width: 100%;
    height: auto;
    top: 0;
    left: 0;

    section {
        height: 100vh;
        width: 100vw;
    }
}

//HEADINGS
h1 {
    font-family: $opensans;
    font-weight: 300;
    font-size: 7em;
}

h3 {
    font-family: $opensans;
    font-weight: 300;
    font-size: 3em;
}

logoheader{
    font-family: $opensans;
    font-weight: 300;
    font-size: 2.5em;
    color: $testcolor;
}

//HIGHLIGHTING
::selection {
    background: $testcolor;
}

::-moz-selection {
    background: $testcolor;
}

header.main_banner{
    position: absolute;
    width: 100%;
    background: transparent;
    display:block;
    padding-top: 0.35em;
    z-index: 991;
    -webkit-transition: padding 0.4s ease;
    -moz-transition:padding 0.4s ease;
    transition:padding 0.4s ease;

    a:hover {
        text-decoration: none;
        color: white;
    }

    .row{
        width:100%;
        max-width:100%;
        padding-left:0.25em;
        padding-right:0.25em;
    }
}

// NAVBAR
nav.navbar.navbar-inverse.navbar-fixed-top {
    background: transparent;
    border-color: transparent;

    .container-fluid {
        margin: 2% auto;
        font-family: $opensans;
        
        .navbar-header {
            button {
                border: 1px solid white;
            }         

            a {
                font-weight: 300;
                font-size: 2.5em;
                color: $testcolor;
            }

            a:hover {
                color: black;
            }
        }

        .collapse.navbar-collapse {
            a {
                color: $testcolor;
            }

            a:hover {
                color: black;
            }
        }
    }
}

// SECTIONS
// 
// MAIN SECTION
section.main {
    background: url("../images/blurred.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    .container {
        position: relative;
        top: 20vh;
        width: 100vw;

        .wrapper {
            
            .title {
                color: black;
                text-align: center;
            }

            .description {
                color: black;
                text-align: center;
            }

            ul.button{
                .loginbtn{
                    padding: 20px 40px;
                    margin: 10px;
                    display: block;
                    font-family: $opensans;
                    font-size: 14px;
                    color: black;
                    background-color: rgba(75,156,195,.8);
                    text-transform: uppercase;
                    text-decoration: none;
                    text-align: center;
                    border-style: solid;
                    border-color: transparent;
                    border-radius: 3%;
                }
                position: relative;
                display: block;
                list-style-type: none;
                width: 25%;
                margin: 8% 37%;                
            }
        }
    }
}

//ABOUT SECTION
section.about {
    background: url("../images/blurred.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    .container {
        position: relative;
        top: 20vh;
        width: 100vw;

        .wrapper {
            
            .title {
                color: black;
                text-align: center;
            }

            .description {
                color: black;
                text-align: center;
            }
        }
    }
}


