@import '_constants';

html, body {
    max-width: 100%;
    height: auto;
    top: 0;
    left: 0;

    section {
        height: 100vh;
        width: 100vw;
    }
}

h1 {
    font-family: $opensans;
    font-weight: 300;
    font-size: 7em;
}

h3 {
    font-family: $opensans;
    font-weight: 300;
    font-size: 3em;
}

::selection {
    background: $testcolor;
}

::-moz-selection {
    background: $testcolor;
}


// SECTIONS
nav.navbar.navbar-inverse.navbar-fixed-top {
    .container-fluid {
        margin: 5px auto;
        font-family: $opensans;

        .navbar-header {
            button {
                border: 1px solid white;
            }            

            a {
                font-weight: 300;
                font-size: 2.5em;
                color: $testcolor;
            }

            a:hover {
                color: white;
            }
        }

        .collapse.navbar-collapse {
            a {
                color: $testcolor;
            }

            a:hover {
                color: white;
            }
        }
    }
}

section.main {
    .container {
        position: relative;
        top: 20vh;
        width: 100vw;

        .wrapper {
            
            .title {
                color: black;
                text-align: center;
            }

            .description {
                color: black;
                text-align: center;
            }

            ul.button{
                .loginbtn{
                    padding: 20px 40px;
                    margin: 10px;
                    display: block;
                    font-family: $opensans;
                    font-size: 14px;
                    float: left;
                    color: black;
                    text-transform: uppercase;
                    text-decoration: none;
                    text-align: center;
                    border-style: solid;
                    border-radius: px;
                    border-color: rgb(128,128,128);
                }
                position: relative;
                height: 300px;
                width: 400px;
                top: 90px;
                left: 10px;

                display: block;
                margin-left: auto;
                margin-right: auto;
                list-style-type: none;
            }
        }
    }
}
