@import '_constants';

html, body {
    max-width: 100%;
    height: auto;
    top: 0;
    left: 0;

    section {
        height: 100vh;
        width: 100vw;
    }
}

h1 {
    font-family: $opensans;
    font-weight: 300;
    font-size: 7em;
}

h3 {
    font-family: $opensans;
    font-weight: 300;
    font-size: 3em;
}

img {
    height: 100%;
    width: 100%;
}

// SECTIONS
section.main {
    background-image: url("../images/blurred.jpg");
    background-size: 100%;

    .container {
        position: relative;
        top: 15vh;
        width: 100vw;

        .wrapper {
            
            .title {
                color: black;
                text-align: center;
            }

            .description {
                color: black;
                text-align: center;
            }
        }
        button.login {
            font-size: 20px;
            width: 320px;
            border-radius:3px;
            padding: 8px;
            margin-top: 18px;
            color: white;
            background: $testcolor;
            border: solid white 2px;
            opacity:.75;
            transition: all 600ms ease;
        }

        button.login:hover {
            background: white;
            color: $testcolor
        }
    }
}
